include {
  path = find_in_parent_folders()
}

terraform {
  source = "git::git@github.com:avdeevi/terraform-yc-redis-module.git"
}

inputs = {

env  = "test-env"
folder_id  = "xxxxxxxxxxxxxxxxx"
name = "cluter-name"
type = "PRESTABLE"
network_id = "xxxxxxxxxxxxxxxxxxx"
redis_version = "5.0"
resource_preset = "hm2.nano" # 2core/8Gb
disk_size = 40
redis_password = "12345678"
shard_num = 1  #  if you set 1 you get standalone sentinel cluster, if you set 3 - we get sharded redis clsuter
replica_num = 1 #  how many replics for every master ( 0 - without replics)
subnet_index = 1 # if we have more than 1 subnet in every zone, yo cat set index of subnet for use. It based on module https://github.com/avdeevi/terraform-yc-subnets-module
}

